.text-for-info {
    font-size: 2rem !important;
    text-align: center !important;
}


/*//////////////////////////////////////
            START BtnModule 
//////////////////////////////////////*/
.btn-add-form {
    position: fixed !important;
    bottom: 0;
    right: 0;
    margin: 30px !important;

    .fa-plus {
        color: #fff;
        height: 15px;
        width: 15px;
    }
}

@media (max-width: 760px){
    .btn-add-form {
        left: 50%;
        margin: 0 0 30px 0 !important;
        transform: translateX(-50%);

    }
}
/*//////////////////////////////////////
            End BtnModule 
//////////////////////////////////////*/

/*//////////////////////////////////////
            START CardFilm 
//////////////////////////////////////*/
.films {
    margin-top: 40px;
    margin-bottom: 40px;

    .ccard { //потому что .card уже существует в bootstrap
        margin-top: 15px;
        padding: 15px !important;

        &:first-child {
            margin-top: 0;
        }

        &:hover {
            box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2), 
                        0px 3px 3px 0px rgba(0,0,0,0.14),
                        0px 5px 3px 1px rgba(0,0,0,0.12);
        }
    }

}

/*///////////////////////////////////////
            End CardFilm 
//////////////////////////////////////*/